* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;
}

.container {
    padding: 10px;
    border-radius: 6px;
    background-color: #ccc;
}

.container h1 {
    text-align: center;
}